:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.title_text {
  color: whitesmoke;
}
.title_container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 30vh; /* Use the full height of the viewport */
}
.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title_box {
  color: black;
}
